@import "tailwindcss";

@theme {
  --color-primary-text: #303441;
  --color-nav-item-hover: #4b85f0;
  --breakpoint-lg-xl: 1124px;
  --breakpoint-xl-2xl: 1440px;
}

* {
  @apply box-border;
}

body {
  @apply m-0 p-0;
}

img {
  @apply select-none pointer-events-none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}
