@import "tailwindcss";

@theme {
  --color-primary-text: #303441;
  --color-blue-1: #4b85f0;
  --color-blue-2: #3262cc;
  --breakpoint-xs: 420px;
  --breakpoint-xs-2: 540px;
  --breakpoint-lg-xl: 1124px;
  --breakpoint-lg-xl-2: 1180px;
  --breakpoint-xl-2xl: 1440px;
}

* {
  @apply box-border;
}

body {
  @apply m-0 p-0;
}

img {
  @apply select-none pointer-events-none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}
